h1 {
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: underline;
  color: #441f5b;
  justify-content: center;
}

body {
  background-color: #f1f2ec;
}

button,
#text,
p,
ul {
  padding: 10px;
  margin: 10px;
  color: #9a7eb0;
  font-size: larger;
  font-weight: bold;
}

form {
  text-align: center;
}
